*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  background-color: #975f4a; /* Vino tinto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  color: #fff; /* Texto en blanco */
  padding: 1%;
  padding-right: 4%;
}

nav a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
 
}
nav a:hover{
    text-shadow: 1px 1px 1px #ffffff9f;
    
}

.logo {
 padding-left: 2%;
  
}

.cart-link {
  margin-left: auto;
  
}