

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html, * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel', serif;
  color: #524f4e; /* Marrón oscuro */
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}


body {
  font-family: 'Cinzel', serif;
  color: #524f4e; /* Marrón oscuro */
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/foto-gratis/fondo-piso-madera_53876-88628.jpg');
  width: 100vw; /* Corregido de 100wh a 100vw */
  background-color: rgba(255, 255, 255, 0.8); /* Corregido de background-image a background-color */
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Cormorant', serif;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}
