html, * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel', serif;
  color: #524f4e; /* Marrón oscuro */
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/foto-gratis/fondo-piso-madera_53876-88628.jpg');
  width: 100vw; /* Corregido de 100wh a 100vw */
  background-color: rgba(255, 255, 255, 0.8); /* Corregido de background-image a background-color */
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Cormorant', serif;
}
